image:
  tag: VALUE1
  pullPolicy: "Always"

imagePullSecrets:
    - name: harborcs

tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule

logLevel: debug

config:
  inputs: |
    [INPUT]
        Name tail
        Tag argo.*
        Path /var/log/containers/*ewoc-system*.log
        DB /var/log/argo.db
        DB.Sync Normal
        Rotate_Wait 10
        Mem_Buf_Limit 10MB
        Parser docker
    [INPUT]
        Name tail
        Tag keycloak.*
        Path /var/log/containers/*keycloak*.log
        DB /var/log/keycloak.db
        DB.Sync Normal
        Rotate_Wait 10
        Mem_Buf_Limit 10MB
        Parser  docker
    [INPUT]
        Name tail
        Tag system.*
        Path /var/log/syslog
        DB /var/log/syslog.db
        DB.Sync Normal
        Rotate_Wait 10
        Mem_Buf_Limit 10MB

  filters: |
    [FILTER]
        Name kubernetes
        Match argo.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix argo.var.log.containers
    [FILTER]
        Name kubernetes
        Match keycloak.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix keycloak.var.log.containers
    [FILTER]
        Name    grep
        Match   keycloak.*
        Regex   log /.*type=LOGIN|LOGIN_ERROR.*/
    [FILTER]
        Name    grep
        Match   argo.*
        Regex   log /.*Uploaded \d* tif files to .*/
  outputs: |
    [OUTPUT]
        Name kafka
        Format json
        Match argo.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics preprocessing.logs
    [OUTPUT]
        Name kafka
        Format json
        Match keycloak.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics keycloak.logs
    [OUTPUT]
        Name kafka
        Format json
        Match system.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics system.logs
