image:
  tag: VALUE1
  pullPolicy: "Always"

imagePullSecrets:
    - name: harborcs

tolerations:
  - key: node-role.kubernetes.io/master
    effect: NoSchedule

logLevel: debug

config:
  inputs: |
    [INPUT]
        Name tail
        Tag argo.*
        Path /var/log/containers/*argo*.log
        DB /var/log/argo.db
        DB.Sync Normal
        Rotate_Wait 10
        Mem_Buf_Limit 10MB
        Parser docker
#    [INPUT]
#        Name tail
#        Tag vdm.*
#        Path /var/log/containers/*vdm*.log
#        DB /var/log/vdm.db
#        DB.Sync Normal
#        Rotate_Wait 10
#        Mem_Buf_Limit 10MB
#        Parser  docker
#    [INPUT]
#        Name tail
#        Tag wctiler.*
#        Path /var/log/containers/*wctiler*.log
#        DB /var/log/wctiler.db
#        DB.Sync Normal
#        Rotate_Wait 10
#        Mem_Buf_Limit 10MB
#        Parser  docker
#    [INPUT]
#        Name tail
#        Tag rdm.*
#        Path /var/log/containers/*rdm*.log
#        DB /var/log/rdm.db
#        DB.Sync Normal
#        Rotate_Wait 10
#        Mem_Buf_Limit 10MB
#        Parser  docker
    [INPUT]
        Name tail
        Tag keycloak.*
        Path /var/log/containers/*keycloak*.log
        DB /var/log/keycloak.db
        DB.Sync Normal
        Rotate_Wait 10
        Mem_Buf_Limit 10MB
        Parser  docker

  filters: |
    [FILTER]
        Name kubernetes
        Match argo.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix argo.var.log.containers
    [FILTER]
        Name kubernetes
        Match vdm.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix vdm.var.log.containers
    [FILTER]
        Name kubernetes
        Match wctiler.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix wctiler.var.log.containers
    [FILTER]
        Name kubernetes
        Match rdm.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix rdm.var.log.containers
    [FILTER]
        Name kubernetes
        Match keycloak.*
        Merge_Log On
        Keep_Log Off
        K8S-Logging.Parser On
        K8S-Logging.Exclude On
        Kube_Tag_Prefix keycloak.var.log.containers
    [FILTER]
        Name    grep
        Match   keycloak.*
        Regex   log /.*type=LOGIN|LOGIN_ERROR.*/
    [FILTER]
        Name    grep
        Match   argo.*
        Exclude   log /.level=info.*/

  outputs: |
    [OUTPUT]
        Name kafka
        Format json
        Match argo.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics preprocessing.logs
    [OUTPUT]
        Name kafka
        Format json
        Match vdm.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics vdm.logs
    [OUTPUT]
        Name kafka
        Format json
        Match wctiler.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics wctiler.logs
    [OUTPUT]
        Name kafka
        Format json
        Match rdm.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics rdm.logs
    [OUTPUT]
        Name kafka
        Format json
        Match keycloak.*
        Brokers kafka.logging.svc.cluster.local:9092
        Topics keycloak.logs