apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: app
  namespace: vdm
  annotations:
    kubernetes.io/ingress.class: kong
    konghq.com/strip-path: "true"
    kubernetes.io/tls-acme: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
    konghq.com/protocols: https
    konghq.com/https-redirect-status-code: "302"
spec:
  tls:
  - secretName: vdm-tls
    hosts:
    - vdm.VALUE1
  rules:
  - host: vdm.VALUE1
    http:
      paths:
      - path: /backend
        backend:
          serviceName: be
          servicePort: 9850
      - path: /
        backend:
          serviceName: app-wcpdr
          servicePort: 9000