apiVersion: v1
items:
- apiVersion: extensions/v1beta1
  kind: Ingress
  metadata:
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/ingress.class: kong
      kubernetes.io/tls-acme: "true"
    name: keycloak
    namespace: keycloak
  spec:
    rules:
    - host: auth.VALUE2
      http:
        paths:
        - backend:
            serviceName: keycloak
            servicePort: 80
          path: /
          pathType: ImplementationSpecific
    tls:
    - hosts:
      - auth.VALUE2
      secretName: keycloak-tls