# helm install keycloak  bitnami/keycloak --create-namespace --namespace=keycloak -f keycloak-value.yaml
image:
  registry: docker.io
  repository: bitnami/keycloak
  tag: VALUE_KCVERS
  debug: true

extraEnv:
- name: KEYCLOAK_LOG_LEVEL
  value: DEBUG
- name: WILDFLY_LOG_LEVEL
  value: DEBUG
- name: ROOT_LOG_LEVEL
  value: DEBUG
- name: PROXY_ADDRESS_FORWARDING  
  value: "true"

service:
  type: ClusterIP
  port: 80
  nodePort: 443  

auth:
  createAdminUser: true
  adminUser: admin

extraEnvVars:
  - name: KEYCLOAK_LOG_LEVEL
    value: INFO  

metrics:
  enabled: true
  serviceMonitor:
    enabled: false
    namespace: monitoring
    interval: 10s
    scrapeTimeout: 10s
    honorLabels: false
    additionalLabels:
      release: kube-prometheus-stack

nodeSelector:
  role: kong

extraEnvVars:
  - name: KEYCLOAK_EXTRA_ARGS
    value: "-Dkeycloak.import=/config/WC-realm.json"      
extraVolumeMounts:
  - name: config
    mountPath: "/config"
    readOnly: true
extraVolumes:
  - name: config
    configMap:
      name: realm-config
      items:
      - key: "WC-realm.json"
        path: "WC-realm.json"
