metrics:
  enabled: true
  serviceMonitor:
    enabled: true
    interval: 2m

  nodeSelector:
    system-tag: world-cereal-system
  podAntiAffinityPreset: hard

query:
  # dnsDiscovery:
  #   sidecarsService: prometheus-operated
  #   sidecarsNamespace: monitoring
  stores:
  - thanos-storegateway:10901
  resources:
    limits:
      cpu: 500m
      memory: 8Gi
    requests:
      cpu: 100m
      memory: 512Mi
  
  podAntiAffinityPreset: hard
  nodeSelector:
    system-tag: world-cereal-system
queryFrontend:
  enabled: false

compactor:
  enabled: true
  podAntiAffinityPreset: hard
  nodeSelector:
    system-tag: world-cereal-system
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 100Gi


storegateway:
  enabled: true
  persistence:
    enabled: false
  podAntiAffinityPreset: hard
  nodeSelector:
    system-tag: world-cereal-system

ruler:
  enabled: false


existingObjstoreSecret: thanos-objstore-config

minio:
  enabled: true
  auth:
    rootUser: "admin"
    rootPassword: THANOS_S3_ADMIN_PASSWORD
  defaultBuckets: "thanos"

  provisioning:
    enabled: true
    users:
      - username: THANOS_S3_BUCKET_ACCESS_KEY
        password: THANOS_S3_BUCKET_SECRET_KEY
        disabled: false
        policies:
          - readwrite
          
  persistence:
    enabled: true
    size: 300Gi