imagePullSecrets:
   - name: harborcs

tags:
  install-elasticsearch: false
  install-mongodb: false

graylog:

  image:
    repository: 643vlk6z.gra7.container-registry.ovh.net/world-cereal/graylog:VALUE1
    pullPolicy: "Always"

  replicas: 1

  # TOCHANGE PROD
  persistence:
    enabled: true
    size: "20Gi" 

  nodeSelector:
    role: kong 

# ON S1PDGS
#GRAYLOG_LIMITS_CPU=2000m
#GRAYLOG_LIMITS_MEMORY=8096Mi
#GRAYLOG_REQUEST_CPU=500m
#GRAYLOG_REQUEST_MEMORY=3072Mi

  resources:     
    limits:
      cpu: 2000m
      memory: 4096Mi
    requests:
      cpu: 500m
      memory: 3072Mi

  # TOCHANGE PROD
  heapSize: "4g"

  metrics:
    enabled: true

  rootUsername: "admin"