# https://github.com/bitnami/charts/blob/master/bitnami/elasticsearch/values.yaml

# DEV S1
#  PERSISTENT_VOLUME_SIZE_LOG="15Gi"
#  PERSISTENT_VOLUME_SIZE_TRACE="5Gi"
#  NB_ES_TRACE_REPLICA=1
#  NB_ES_LOG_REPLICA=1
#  NB_COORDINATING_REPLICA=1

# PROD S1
#  PERSISTENT_VOLUME_SIZE_LOG="500Gi"
#  PERSISTENT_VOLUME_SIZE_TRACE="40Gi"
#  NB_ES_TRACE_REPLICA=3
#  NB_ES_LOG_REPLICA=3
#  NB_COORDINATING_REPLICA=2

image:
  registry: hfjcmwgl.gra5.container-registry.ovh.net
  repository: world-cereal/elasticsearch
  tag: VALUE1
  pullPolicy: Always
  pullSecrets:
    - harborcs

master:
  replicas: 2
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 10Gi
  nodeSelector:
    role: kong
  
  heapSize: 2048m
#  resources:
#    limits:
#      cpu: 300m
#      memory: 4096Mi
#    requests:
#      cpu: 100m
#      memory: 2048Mi


data:
  replicas: 2
  nodeSelector:
    role: kong 
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 100Gi

  heapSize: 2048m
#  resources:
#    limits:
#      memory: 4096Mi
#    requests:
#      memory: 2048Mi


coordinating:
  nodeSelector:
    role: kong

  heapSize: 4096m
#  resources:
#    limits:
#      memory: 4096Mi
#    requests:
#      memory: 2048Mi

metrics:
  enabled: true
  nodeSelector:
    role: kong
