image:
  registry: hfjcmwgl.gra5.container-registry.ovh.net
  repository: world-cereal/mongodb
  tag: VALUE1
  
  pullSecrets:
    - harborcs

nodeSelector:
  role: kong 

auth:
  enabled: true
  rootUser: root
  username: "graylog"
  database: "graylog"