image:
  registry: hfjcmwgl.gra5.container-registry.ovh.net
  repository: world-cereal/mongodb
  tag: VALUE1
  
  pullSecrets:
    - harborcs

auth:
  enabled: true
  rootUser: root
  rootPassword: "World_Cereal_root"
  username: "graylog"
  password: "graylog_World_Cereal_2021"
  database: "graylog"