# imagePullSecrets:
#    - name: aws-registry

tags:
  install-elasticsearch: false
  install-mongodb: false

graylog:

  image:
    repository: "graylog/graylog"
    tag: VALUE_GRAYLOG_VERSION
  
  replicas: 3

  nodeSelector:
    system-tag: world-cereal-system
  resources:     
    requests:
      cpu: 1000m
      memory: 1Gi
  #   limits:
  #     cpu: 2000m
  #     memory: 4096Mi

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name 
                operator: In
                values:
                  - graylog
          topologyKey: kubernetes.io/hostname

  init:
    kubectlVersion: "VALUE_KUBECTL_VERSION"
    # kubectlVersion: "v1.22.13"

  heapSize: "16g"
  # # TestCluster
  # heapSize: "2g"

  mongodb:
    uriSecretName: mongodb-access
    uriSecretKey: uri

  elasticsearch:
    hosts: "http://ewoc-elastic-master-headless:9200" 
    # version: 7 

  journal:
    maxSize: 10gb
    # deleteBeforeStart: true

  options:
    gc_warning_threshold: 5s
    inputbufferProcessors: 4 # default: 2
    processbufferProcessors: 6 # default: 5
    outputbufferProcessors: 4 # default: 3

  config: |
    http_external_uri = https://graylog.VALUE_HOSTNAME/
    trusted_proxies = 10.42.0.0/16,10.100.0.0/16,192.168.0.0/16
    elasticsearch_mute_deprecation_warnings = true
    elasticsearch_shards = 6
    elasticsearch_replicas = 1
    elasticsearch_compression_enabled = true
    # elasticsearch_index_optimization_jobs = 12
    rotation_strategy = size
    # elasticsearch_max_size_per_index = 1G
    elasticsearch_max_number_of_indices = 50

  persistence:
    enabled: true
    size: "30Gi"

  metrics:
    enabled: true

  rootUsername: "admin"

  input:
    udp:
      service:
        name: graylog-syslog
        type: ClusterIP
      ports:
        - name: syslog-hosts
          port: 30514
        - name: syslog-k8s
          port: 31514
        - name: syslog-ewoc
          port: 32514







