apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: app-wcpdr
  labels:
    app: app-wcpdr
  namespace: vdm
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: app-wcpdr
    spec:
      containers:
      - name: app-wcpdr
        image: gisat/app-world_cereal_preliminary_data_review:dev
        imagePullPolicy: Always
        ports:
         - containerPort: 9000
        env:
        - name: REACT_APP_apiBackendHost
          value: vdm.VALUE1
        - name: REACT_APP_apiBackendPath
          value: backend
        - name: REACT_APP_apiBackendProtocol
          value: http
        - name: TZ
          value: Europe/Prague 
        volumeMounts:
        - mountPath: /usr/src/app/client/static/js/runtimeConfig.js
          name: app-wcpdr-claim0  #to change
          readOnly: true
      restartPolicy: Always
      imagePullSecrets:
        - name: worldcereal-harbor-secrets 
      volumes:
      - name: app-wcpdr-claim0  #to change
        persistentVolumeClaim:
          claimName: app-wcpdr-claim0 # to change
---
apiVersion: v1
kind: Service
metadata:
  name: app-wcpdr
  namespace: vdm
spec:
  selector:
    app: app-wcpdr
  ports:
    - port: 80
      targetPort: 9000  
  type: ClusterIP