apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-wcpdr
  namespace: vdm
  labels:
    app: app-wcpdr
spec:
  #replicas: 3
  selector:
    matchLabels:
      app: app-wcpdr
  template:
    metadata:
      labels:
        app: app-wcpdr
    spec:
      imagePullSecrets:
      - name: harborcs 
      containers:
        - env:
            - name: REACT_APP_apiBackendHost
              value: vdm.VALUE1
            - name: REACT_APP_apiBackendPath
              value: backend
            - name: REACT_APP_apiBackendProtocol
              value: https
            - name: TZ
              value: Europe/Prague
          image: hfjcmwgl.gra5.container-registry.ovh.net/world-cereal/gisat/app-esa_world_cereal_product_viewer:dev
          name: app-wcpdr
          ports:
            - containerPort: 9000
          resources: {}
          volumeMounts:
            - mountPath: "/usr/src/app/client/static/js/runtimeConfig.js"
              name: app-wcpdr-hostpath0
              subPath: "runtimeConfig.js"
              readOnly: true
      restartPolicy: Always
      volumes:
        - name: app-wcpdr-hostpath0
          configMap:
            name: app-wcpdr-hostpath0
      nodeSelector:
        role: kong
---
apiVersion: v1
kind: Service
metadata:
  name: app-wcpdr
  namespace: vdm
spec:
  selector:
    app: app-wcpdr
  ports:
    - protocol: TCP
      port: 9000
      targetPort: 9000