
# Install command with namespace creation if not not exit:
#helm install kong kong/kong --create-namespace --namespace=kong -f kong-ingress-controller-dbless-value.yaml

image:
  repository: hfjcmwgl.gra5.container-registry.ovh.net/world-cereal/kong
  tag: VALUE1
  pullPolicy: "Always"
  pullSecrets:
    - harborcs

autoscaling:
  enabled: false

env:
  database: "postgres"
  pg_host : kong-postgresql.kong
  pg_port : 5432
  pg_timeout : 5000
  pg_user : postgres
  pg_password : postgres
  pg_database : kong
  nginx_worker_processes: "1"
  plugins: bundled,oidc

  nginx_proxy_proxy_buffer_size: 2m
  nginx_proxy_proxy_buffers: 64 2m 
  nginx_proxy_set: $$session_secret secrets
  nginx_proxy_proxy_busy_buffers_size: 2m
  nginx_proxy_large_client_header_buffers: 64 2m
  nginx_proxy_client_header_buffer_size: 2m
  nginx_log_level: debug

ingressController:
  enabled: true
  installCRDs: false


nodeSelector:
  role: kong

proxy:
  enabled: true
  type: NodePort
  http:
    nodePort: 32080

  tls:
    nodePort: 32443  
 

admin:
  enabled: true
  type: ClusterIP
  http:
    enabled: true
  ingress:
    # Enable/disable exposure using ingress.
    enabled: false

serviceMonitor:
  enabled: false
  interval: 10s
  namespace: monitoring
  labels:
    release: kube-prometheus-stack

