
image:
  repository: kong
  tag: VALUE1

env:
  database: "off"

ingressController:
  enabled: true
  installCRDs: false

proxy:
  enabled: true
  type: LoadBalancer
  externalIPs:
    - VALUE2

serviceMonitor:
  enabled: true
  interval: 10s
  namespace: monitoring
  labels:
    release: kube-prometheus-stack  