image:
  registry: hfjcmwgl.gra5.container-registry.ovh.net
  repository: world-cereal/kafka
  tag: VALUE1
  pullPolicy: Always
  pullSecrets: 
    - harborcs

persistence: 
  enabled: true
  # TOCHANGE
  size: "30Gi" 

replicaCount: 3

livenessProbe:
  initialDelaySeconds: 60

readinessProbe:
  initialDelaySeconds: 60

nodeSelector:
  role: kong 

#TOCHANGE
#heapOpts: -Xmx1024m -Xms1024m

autoCreateTopicsEnable: false




